body {
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #1b263b; 
    color: #e0e1dd; 
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    margin-bottom: 1rem; 
}

nav a {
    color: #e0e1dd;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

.nav-button:hover {
    background-color: #415a77;
    border-radius: 5px;
}

main {
    padding: 7rem 1rem 2rem; 
}

footer {
    background-color: #1b263b; 
    color: #e0e1dd;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    margin-top: 4rem; 
    bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; 
    margin: 0;
}

h1 {
    font-size: 4.3rem;
}

h2 {
    font-size: 4rem;
  color: #004d40;
    margin: 1rem 0;
}

h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

p {
    font-size: 1rem; 
    line-height: 1.6;
}

.welcome-section {
    text-align: center;
    padding: 2rem 1rem;
}

.welcome-title {
  font-size: 3rem;
  margin: 0;
}

.image-container {
    margin: 0.5rem auto;
}

.welcome-text {
    font-size: 1rem;
    margin-top: 1rem;
  text-align: center;
}

.Random-quote {
    font-size: 1.5rem; 
    color: #004d40;
    font-family: 'Pacifico', cursive; 
    font-style: italic; 
    margin: 1rem 0; 
  text-align: center;
}

.page-content {
    padding: 2rem 1rem;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

#products {
    padding: 2rem 1rem;
}

.product-image img {
    width: 100%;
    max-width: 400px; 
    height: auto;
    margin-top: 1rem;
}

#contact {
    padding: 2rem 1rem;
}

a {
    color: #415a77;
}
.welcome-title {
  font-size: 4rem;
  color: #004d40;
}